@font-face {
   font-family: "Open Sans";
   src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
}

@font-face {
   font-family: "Open Sans Bold";
   src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
}

/*! Обнуление CSS */

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*! Обнуление CSS завершено */

.wrapper {
   display: flex;
   flex-direction: column;
}

.header {
   position: relative;
   width: 100%;
   height: 449px;
   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.header::after {
   content: "";
   position: absolute;

   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: black;
   opacity: 0.60;
}

.container {
   max-width: 1170px;
   min-width: 1170px;
   margin: 0 auto;
}

.header__row {
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 1;
}

.header__logo-nav {
   display: flex;
   justify-content: space-between;
   padding-top: 28px;
}

.header__logo {
   width: 182px;
}

.header__nav {
   display: flex;
   column-gap: 35px;
}

.header__nav-items a {
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   color: #ffffff;
}

.header__nav-items a:hover {
   border-bottom: 2px solid white;
}

.header__title {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 45px;
   line-height: 75px;
   color: #ffffff;
   text-transform: uppercase;
   padding: 75px 240px 0;
   text-align: center;
   box-sizing: border-box;
}

.content {
   margin-top: 64px;
   flex: 1 1 auto;
}

.content__row {
   display: flex;
   justify-content: space-between;
}

.content__post {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 60px;
   width: 778px;
}

.post-block {
   height: 294px;
}

.post-img {
   width: 381px;
}

.post-descript {
   width: 367px;
}

.post-descript_tag {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 14px;
   color: #b59f5b;
   text-transform: uppercase;
}

.post-descript_tag:nth-child(n + 1) {
   margin-right: 20px;
}

.post-descript_tag:nth-last-child(-n + 1) {
   margin-right: 0;
}

.post-descript h2 {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 20px;
   color: black;
   text-transform: uppercase;
   margin: 15px 0 36px 0;
}

.post-descript_title {
   color: black;
}

.post-descript_date {
   font-family: "Open Sans", sans-serif;
   font-size: 12px;
   color: #888888;
   margin-right: 14px;
}

.post-descript_author {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 12px;
   color: black;
   text-transform: c;
}

.post-descript_description {
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
   color: black;
}

.post-descript_description:nth-child(n + 1) {
   margin-bottom: 22px;
}

.post-descript_description:nth-child(-n + 1) {
   margin-top: 54px;
}

.post-descript_description:nth-last-child(-n + 1) {
   margin-bottom: 0;
}

.content__new-post {
   width: 272px;
}

.new-post_line {
   width: 66px;
   height: 3px;
   background-color: #e1d9bd;
   margin: 15px auto 29px;
}

.content__new-post h2 {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
}

.new-post_wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 22px;
}

.new-post-block {
   height: 70px;
}

.new-post-img {
   width: 70px;
}

.new-post-img-1 {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/2.jpg);
}

.new-post-img-2 {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/151.jpg);
}

.new-post-img-3 {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/45.jpg);
}

.new-post-img-4 {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/501.jpg);
}

.new-post-img-5 {
   background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/7.jpg);
}

.new-post-descript {
   width: 180px;
}

.new-post-descript span {
   font-family: "Open Sans", sans-serif;
   font-size: 12px;
   color: #888888;
}

.new-post-descript h2 {
   font-size: 14px;
   text-align: left;
   margin-top: 9px;
}

.new-post-descript h2 a {
   color: black;
}

.form-search-wrap {
   margin: 60px 0 63px 0;
}

.form-search {
   display: flex;
}

.search {
   width: 224px;
   height: 48px;

   font-family: "Open Sans", sans-serif;
   font-size: 13px;
   padding: 20px 0 20px 20px;
   background-color: #f4f7f6;
   box-sizing: border-box;
}

.search-button {
   width: 48px;
   height: 48px;
   background-color: #b59f5b;
   background-size: 13px;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
}

.form-subscription {
   margin-bottom: 60px; 
}

.subscription {
   width: 272px;
   height: 48px;

   font-family: "Open Sans", sans-serif;
   font-size: 13px;
   padding: 20px 0 20px 20px;
   background-color: #f4f7f6;
   box-sizing: border-box;
}

.subscription-button {
   width: 272px;
   height: 48px;
   font-family: "Open Sans Bold", sans-serif;
   font-size: 14px;
   color: white;
   text-transform: uppercase;
   background-color: #b59f5b;
   margin-top: 18px;
}

.tags-wrap {
   margin-bottom: 60px;
}

.tags {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}

.tags li {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 12px;
   text-transform: uppercase;

   padding: 8px 10px;
   border: 3px solid #f0f0f0;
   box-sizing: border-box;
}

.themes {
   padding: 15px 0;
   border-bottom: 1px solid #eeeeee;
   box-sizing: border-box;
}

.themes a {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 14px;
   color: black;
   margin-right: 5px;
}

.themes span {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 12px;
   color: #b59f5b;
   vertical-align: super;
}

.footer {
   margin-top: 65px;
}

.footer__row {}


.footer-items-wrap {
   padding: 31px 0 31px 0;
   background-color: #f4f7f6;
}

.footer-items {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   column-gap: 30px;
}

.footer-icons {
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.icon-twitter {
   background-image: url(/img/twitter.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-twitter:hover {
   background-image: url(/img/twitter-bronze.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-pinterest {
   background-image: url(/img/pinterest-p.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-pinterest:hover {
   background-image: url(/img/pinterest-bronze.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-facebook {
   background-image: url(/img/facebook-f.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-facebook:hover {
   background-image: url(/img/facebook-bronze.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-instagram {
   background-image: url(/img/instagram.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-instagram:hover {
   background-image: url(/img/instagram-bronze.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-tumblr {
   background-image: url(/img/tumblr.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.icon-tumblr:hover {
   background-image: url(/img/tumblr-bronze.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.footer-items-copyright {
   font-family: "Open Sans Bold", sans-serif;
   font-size: 12px;
   color: #999999;
   padding: 74px 0 41px 0;
}